calabash-cucumber/pkg
calabash-cucumber/Markdown.pl
calabash-cucumber/.idea
examples/LPSimpleExample.xcodeproj/project.xcworkspace
examples/LPSimpleExample.xcodeproj/xcuserdata/krukow.xcuserdatad
examples/LPSimpleExample.xcodeproj/project.xcworkspace/xcuserdata
examples/LPSimpleExample.xcodeproj/xcuserdata/krukow.xcuserdatad
.idea/*
examples/LPSimpleExample.xcodeproj/xcuserdata
examples/LPSimpleExample.xcodeproj/project.xcworkspace/xcuserdata/krukow.xcuserdatad/UserInterfaceState.xcuserstate
Markdown.pl
examples_development
*.swp
*.gem

# rvm and .rbenv versions
.ruby-version

# notes
notes
