<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allow-root</key>
	<true/>
	<key>authenticate-user</key>
	<true/>
	<key>class</key>
	<string>user</string>
	<key>comment</key>
	<string>Rights for Instruments</string>
	<key>created</key>
	<real>409022991.27266097</real>
	<key>group</key>
	<string>admin</string>
	<key>identifier</key>
	<string>com.apple.dt.instruments.dtsecurity.xpc</string>
	<key>modified</key>
	<real>409022991.27266097</real>
	<key>requirement</key>
	<string>identifier "com.apple.dt.instruments.dtsecurity.xpc" and anchor apple</string>
	<key>session-owner</key>
	<false/>
	<key>shared</key>
	<true/>
	<key>timeout</key>
	<integer>5</integer>
	<key>tries</key>
	<integer>10000</integer>
	<key>version</key>
	<integer>0</integer>
</dict>
</plist>
